.topbar {
    background-color: #FD725F;
    font-family: 'Poppins', sans-serif;
}

.title-breakthrough {
    color: #1A9ACF;
    font-family: 'Outfit', sans-serif;
}

.artificial-intelligence {
    font-family: 'Orbitron', sans-serif;
}

.yt-container {
    backdrop-filter: blur(180px);
}

.ultra {
    text-shadow: 0px 20.3682px 45.2626px rgba(0, 0, 0, 0.25);
}

.publish {
    text-shadow: 0px 18.2048px 40.455px rgba(0, 0, 0, 0.25);
}

.pointy-bottom {
    background-color: #021921;
}

.believing {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

/* #splide-five > .splide__slide{
    transform: scale(0.98, 0.98); 
    display: inline-flex;  
    vertical-align: middle; 
  }
  #splide-five > .splide__slide.is-active{
    transform: scale(1, 1);
  } */

.pointy-top:before {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom:100px solid #ffffff;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

.pointy-bottom:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top:100px solid #021921;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

.up-down {
    animation: upDown 7s linear infinite;
}

.down-up {
    animation: downUp 7s linear infinite;
}

.left-right {
    animation: leftRight 7s linear infinite;
}

.right-left {
    animation: rightLeft 7s linear infinite;
}

button.slick-prev {
    display: none;
}
.slick-initialized .slick-slide {
    display: flex !important;
}

.podium {
    background: linear-gradient(0deg, rgba(46, 179, 214, 0.47), rgba(46, 179, 214, 0.47)), linear-gradient(179.76deg, #000000 0.44%, #3DD85A 59.79%, #20A5D6 99.79%)
}
@keyframes downUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes leftRight {
    0%, 100% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(0);
    }
}

@keyframes rightLeft {
    0%, 100% {
        transform: translateX(50px);
    }
    50% {
        transform: translateX(0);
    }
}